#hero{
    background-image: url('../../assets/Hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 35vh;
    padding-bottom: 5vh;
}

.hero-title{
    font-weight: bold;
    text-align: center;
}

.hero-txt{
    text-align: center;
}

@media (max-width: 500px) {
    .txt-container{
        margin-top: -30%;
    }
    
    .hero-title{
        font-size:25px;
    }
    
    .hero-txt{
        font-size: 15px;
        margin-top: -3%;
    }
}

@media (min-width: 500px) and (max-width: 768px) {
    .txt-container{
        margin-top: -10%;
    }
    
    .hero-title{
        font-size:35px;
    }
    
    .hero-txt{
        font-size: 18px;
        margin-top: -3%;
    }
}

@media (min-width: 768px) and (max-width: 1000px) {
    .hero-title{
        font-size:35px;
    }
    
    .hero-txt{
        font-size: 18px;
    }
}

@media (min-width: 1000px) and (max-width: 1200px) {
    .hero-title{
        font-size:45px;
    }
    
    .hero-txt{
        font-size: 20px;
    }
}

@media (min-width: 1200px) {
    .hero-title{
        font-size:50px;
    }
    
    .hero-txt{
        font-size: 25px;
    }
}