.contactBgImg{
    width: 100vw;
}

.contactsTitle{
    font-size: 35px;
}

.titleContainer{
    margin-top: -75vh;
}

.contactInfo{
    font-size: 25px;
}

.logos{
margin-right: 15px;
}

.formContainer{
    padding: 30px;
    background-color: #273237;
    border-radius: 10px;
    color: white;
    width: 45%;
}

.emailInput{
border-radius: 3px;
border-color: transparent;
width: 15vw;
margin-left: 5px;
}

.messageInput{
border-radius: 5px;
width: 31vw;
height: 125px;
margin-left: 5px;
}

.submitBtn{
border-radius: 5px;
background-color: #63747D;
border-color: #63747D;
padding-left: 10px;
padding-right: 10px;
color: white;
}