#projects {
  margin-top: 20vh;
}

.carCarousel {
  margin-top: 5vh;
}

.innerCar {
  display: flex;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  margin-right: auto;
}

.carItem {
  max-width: 350px;
  transition: 1s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.carets {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.carControlPrev,
.carControlNext {
  width: 40px !important;
  background-color: transparent !important;
  border-color: transparent !important;
  position: absolute;
  z-index: 1;
}

.carControlNext {
  color: rgba(0, 0, 0, 0.436)
}

.carControlPrev {
  margin-left: -35px;
  color: rgba(0, 0, 0, 0.436)
}

.carCard {
  height: 475px;
  background-color: #273237;
}

.carImgContainer {
  max-height: 220px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

.carImg {
  height: 220px;
  padding: 15px;
}

.carBody {
  padding: 15px;
  padding-bottom: 10px;
  position: absolute;
  margin-top: 270px;
}

.carText {
  color: white;
}

.replacement-card{
  background-color: #273237;
  padding: 25px;
  width: 350px;
  max-height: 475px;
  margin-top: 1.5vh;
  margin-right: 1vw;
}

.replacement-card-two{
  background-color: #273237;
  padding: 25px;
  max-width: 350px;
  max-height: 475px;
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: auto;
  margin-right: auto;
}

.rp-card-text{
  text-align: center;
  display: flex;
  margin: auto;
  font-weight: bold;
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
  .carCarousel {
    margin-right: 0px;
    margin-left: -15px;
  }

  .innerCar {
    max-width: 350px;
  }

  .carItem {
    flex: 0 0 100%;
    display: block;
    padding: 10px;
  }

  .carControlNext {
    margin-left: 330px;
  }

  .carControlPrev {
    margin-left: -20px
  }

  .rp-card-text{
    font-size:medium;
  }

}

@media (min-width: 768px) and (max-width: 1000px) {
  .carCarousel {
    margin-right: 10vw;
    margin-left: 17vw;
  }

  .innerCar {
    max-width: 350px;
  }

  .carItem {
    flex: 0 0 100%;
    display: block;
    padding: 10px;
  }

  .carControlNext {
    margin-left: 350px;
  }

  .rp-card-text{
    font-size:medium;
  }

}


@media (min-width: 1000px) and (max-width: 1200px) {
  .carCarousel {
    margin-right: 8vw;
    margin-left: 6vw;
  }

  .innerCar {
    max-width: 700px;
  }

  .carItem {
    flex: 0 0 50%;
    display: block;
    padding: 5px;
  }

  .carControlNext {
    margin-left: 700px;
  }

  .rp-card-text{
    font-size:large;
  }

}

@media (min-width: 1200px) {
  .innerCar {
    max-width: 1000px;
  }

  .carItem {
    flex: 0 0 33.333333%;
    display: block;
    padding: 10px;
  }

  .carControlNext {
    margin-left: 1000px;
  }

  .rp-card-text{
    font-size:large;
  }

}