@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Pavanam&display=swap');

.lato{
    font-family: 'Lato', sans-serif;
}
.pavanam{
    font-family: 'Pavanam', sans-serif;
}

hr{
max-width: 400px;
}

.bg-img{
    width: 100vw;
}

.section-title{
    font-family: 'Pavanam', sans-serif;
    font-size: 35px;
}

@media (max-width: 768px) {
    
}

@media (min-width: 768px) and (max-width: 1000px) {
    
}

@media (min-width: 1000px) and (max-width: 1200px) {
    
}

@media (min-width: 1200px) {
    
}
