@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Pavanam&display=swap');

.lato{
    font-family: 'Lato', sans-serif;
}
.pavanam{
    font-family: 'Pavanam', sans-serif;
}

hr{
max-width: 400px;
}