.footerContainer{
    position: absolute;
    background-color: #283542;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    width: 101vw;
}

.right-half{
    text-align: end;
}

@media (max-width: 414px) {
    .footerContainer{
        padding-top: 30px;
        width: 104vw;
    }
    #footer p {
        font-size: 10px;
    }

    .right-half{
        margin-top: -5px;
    }

    #footer .logos{
        width: 18px;
    }
}

@media (min-width: 414px) and (max-width: 768px) {
    .footerContainer{
        padding-top: 25px;
        width: 104vw;
    }

    .right-half{
        margin-top: -5px;
    }

    #footer .logos{
        width: 18px;
    }
}

@media (min-width: 768px) and (max-width: 1000px) {
    .footerContainer{
        padding-top: 25px;
        width: 102vw;
    }
}

@media (min-width: 1000px) and (max-width: 1200px) {
    .footerContainer{
        padding-top: 30px;
        width: 102vw;
    }
}

@media (min-width: 1200px) {
    .footerContainer{
        padding-top: 30px;
    }
}